#calculator{
	display: flex;
	align-items: center;
    justify-content: center;
    height: 850px;
    font-size: 50px;
}

#calculator table{
	border: solid 3px;
	border-spacing: 3px; 
	background-color: #3d3d3b;
	border-radius: 3%;
}
#calculator table td{
	border-spacing: 3px;
}
#calculator input.display{
	width: 425px;
	height: 70px;
	text-align: left;
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	border: solid 8px black;
	border-radius: 5%;
	background-color: #bdbd8c;
	font-size: 30px;
}
#calculator tr{
    height: 150px;
    background-color: #3d3d3b;
}
#calculator td.buttons{
	border-top: solid 1px #3d3d3b;
}
#calculator input[type=button]{
	width: 100px; 
	height: 90px;
}
.button1{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 10%;
	border: 4px black;
	box-shadow: 0 0 10px ;
}
.button2{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 10%;
	border: 4px black;
	box-shadow: 0 0 10px ;
}
.button3{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 10%;
	border: 4px black;
	box-shadow: 0 0 10px ;
}
.button-add{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;
	background-color: #e83a3a;
	color: white;
	font-weight: bold;
	border-radius: 10%;
	border: 4px black;
	box-shadow: 0 0 10px ;
	/*animation: button-add .3s ease-in-out infinite;*/
}
.button-add:hover{
	animation-play-state: paused;
	animation: button-mul .3s ease-in-out infinite;
}
@keyframes button-add{
  0%{
  	transform: scale3d(1, 1, 1);
  }
  100%{
  	transform: scale3d(1.05, 1.05, 1.05);
  }
}
.button4{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 10%;
	border: 4px black;
	box-shadow: 0 0 10px ;
}
.button5{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 10%;
	border: 4px black;
	box-shadow: 0 0 10px ;
}
.button6{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 10%;
	border: 4px black;
	box-shadow: 0 0 10px ;
}
.button-sub{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;
	background-color: #e83a3a;
	color: white;
	font-weight: bold;
	border-radius: 10%;
	border: 4px black;
	box-shadow: 0 0 10px ;
	/*animation: button-sub .3s ease-in-out infinite;*/
}
.button-sub:hover{
	animation-play-state: paused;
	animation: button-sub .3s ease-in-out infinite;
}
@keyframes button-sub{
  0%{
  	transform: scale3d(1, 1, 1);
  }
  100%{
  	transform: scale3d(1.05, 1.05, 1.05);
  }
}
.button7{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 10%;
	border: 4px black;
	box-shadow: 0 0 10px ;
}
.button8{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 10%;
	border: 4px black;
	box-shadow: 0 0 10px ;
}
.button9{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 10%;
	border: 4px black;
	box-shadow: 0 0 10px ;
}
.button-mul{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;
	background-color: #e83a3a;
	color: white;
	font-weight: bold;
	border-radius: 10%;
	border: 4px black;
	box-shadow: 0 0 10px ;
	/*animation: button-mul .3s ease-in-out infinite;*/
}
.button-mul:hover{
	animation-play-state: paused;
	animation: button-mul .3s ease-in-out infinite;
}
@keyframes button-mul{
  0%{
  	transform: scale3d(1, 1, 1);
  }
  100%{
  	transform: scale3d(1.05, 1.05, 1.05);
  }
}
.button-c{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;
	background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 10%;
	border: 4px black;
	box-shadow: 0 0 10px ;
}
.button-0{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;background-color: black;
	color: white;
	font-weight: bold;
	border-radius: 10%;
	border: 4px black;
	box-shadow: 0 0 10px ;
}
.button-doit{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;
	background-color: #fcb02b;
	color: white;
	font-weight: bold;
	border-radius: 10%;
	border: 4px black;
	box-shadow: 0 0 10px ;
	animation: button-doit .3s ease-in-out infinite;
}
.button-doit:hover{
	animation-play-state: paused;
	/*animation: button-doit .3s ease-in-out infinite;*/
}
@keyframes button-doit{
  0%{
  	transform: scale3d(1, 1, 1);
  }
  100%{
  	transform: scale3d(1.05, 1.05, 1.05);
  }
}
.button-div{
	font-family: 'ZCOOL QingKe HuangYou', cursive;
	font-size: 30px;
	background-color: #e83a3a;
	color: white;
	font-weight: bold;
	border-radius: 10%;
	border: 4px black;
	box-shadow: 0 0 10px ;
	/*animation: button-div .3s ease-in-out infinite;*/
}
.button-div:hover{
	animation-play-state: paused;
	animation: button-div .3s ease-in-out infinite;
}
@keyframes button-div{
  0%{
  	transform: scale3d(1, 1, 1);
  }
  100%{
  	transform: scale3d(1.05, 1.05, 1.05);
  }
}